<nav class="navbar navbar-white bg-dark"style="margin-bottom: 50px;">
    <span class="text-white text-end" style="font-size: large;">Dashboard</span>
  </nav>


<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" >
    <div class="card h-200 text-white bg-primary shadow" style="margin-bottom: 10px;height: 15rem;">   
        <div class="card-body">
      <h5 class="card-title text-center">Student Info</h5>
      <a routerLink="/studentcount"  class="text-white stretched-link"></a>
    </div>
  </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
  <div class="card h-200 text-white bg-success shadow" style="margin-bottom: 10px;height: 15rem;">    
    <div class="card-body">
      <h5 class="card-title text-center">Teacher Info</h5>
      <a routerLink="/teachercount"  class="text-white stretched-link"></a>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12">
<div class="card h-200 text-white bg-warning shadow"style="margin-bottom: 10px;height: 15rem;">    
    <div class="card-body">
      <h5 class="card-title text-center">Non Teaching Staff</h5>
      <a routerLink="/staffcount"  class="text-white stretched-link"></a>
    </div>
  </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
  <div class="card h-200 text-white bg-info shadow"style="margin-bottom: 10px;height: 15rem;">    
    <div class="card-body">
      <h5 class="card-title text-center">Academics</h5>
      <a routerLink="/academics" class="text-white stretched-link"></a>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12">
<div class="card h-200 text-white bg-danger shadow"style="margin-bottom: 10px;height: 15rem;">  
    <div class="card-body">
  
      <h5 class="card-title text-center">Accounts</h5>
      <a routerLink="/accounts" class="text-white stretched-link"></a>
    </div>
  </div>

</div>
<div class="col-lg-4 col-md-6 col-sm-12" >
    <div class="card h-500 text-white bg-secondary shadow"style="margin-bottom: 10px;height: 15rem;">   
        <div class="card-body">
      <h5 class="card-title text-center">Attendance</h5>
      <a routerLink="/attendance" class="text-white stretched-link"></a>
    </div>
  </div>
  </div>

</div>




    
